header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;

    input{
        width: 50vw;
        height: 32px;
    }
}

.searchBar {
    input {
        width: 989px;
        top: 25px;
        left: 406px;
        padding: 17.5px 45px 17.5px 45px;
        gap: 0px;
        border-radius: 42px;
        justify-content: space-between;
        border: unset;
    }
}


.loggedUserBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Wichtig für die Positionierung des Dropdowns */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren mit der Maus */

    >span {
        font-family: "Nunito";
        font-size: 32px;
        font-weight: 700;
        line-height: 43.65px;
        text-align: left;
    }
    .userAvatarCT {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        background-position: center;
        object-fit: cover;
        background-size: cover;
        margin-left: 20px;
    }
    >img {
        margin-left: 20px;
        margin-right: 40px;
    }
}


.dropdown {
    position: absolute;
    top: 100%; /* Unterhalb der loggedUserBar positionieren */
    left: 0;
    background: #fff;
    z-index: 1000; /* Stellen Sie sicher, dass das Dropdown über anderen Inhalten liegt */
    width: 282px;
    padding: 30px;
    gap: 15px;
    border-radius: 30px 0px 30px 30px;
    opacity: 0px;
    box-shadow: 0px 6px 10px 0px #00000033;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    width: Fixed (222px)px;
    height: 53px;
    padding: 10px 70px 10px 70px;
    gap: 15px;
    border-radius: 100px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-radius: 30px;
        background-color: #ECEEFE;
    }
    &:hover a {
        color: #444DF2; /* Ändere die Textfarbe des <a>-Elements */
        font-weight: 700;
    }
}

.dropdown ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 600;
    line-height: 32.74px;
    text-align: left;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensures the overlay is above other content */
}

  

@media (max-width: 500px) {
    header{
        width: calc(100vw - 32px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 15px 16px 15px 16px !important;
        
        >div {
            display: flex;
            align-items: center;
            height: 50px;
            gap: 2px;

            >img {
                height: 45px;
                width: 161.5px;
            }

            >div {
                display: flex;
                align-items: center;
                height: 50px;
                gap: 10px;
                
                >img {
                    width: 50px;
                    height: 50px;
                }

                >span {
                    font-family: Nunito;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32.74px;
                }
            }
        }
    
        >img {
            width: 50px;
            height: 50px;
            border-radius: 60px;
        }
    }

}