.main-chat {
    height: 90vh;
    width: 90vw;
    background-color: white;
    border-radius: 30px;
    position: relative;
}

.main-chat-header {
    height: 96px;
    padding: 25px 45px 25px 45px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px #00000014;
}

.channelname {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
    }

    img {
        width: 30px;
        height: 30.19px;
    }
}

.member-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.membercount {
    min-width: 12px;

    span {
        font-size: 20px;
        font-weight: 600;
        line-height: 27.28px;
    }
}

.memberdiscs-div {
    display: flex;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
        margin: -6px;
        border-radius: 30px;
        border: 2px solid #FFFFFF
    }
}

.chat-area {
    max-height: 40vh;
    overflow-y: scroll;
}

.time-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 20px 0 20px 0;
    position: relative;
}

.date {
    width: 189px;
    height: 35px;
    padding: 5px 15px 5px 15px;
    gap: 10px;
    border-radius: 30px;
    background: white;
    border: 1px solid #ADB0D9;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.line {
    width: 80%;
    border: 1px solid #ADB0D9;
}

.message {
    display: flex;
    gap: 30px;
    padding: 25px 45px 25px 45px;
}

.avatar {
    width: 70px;
    height: 70px;
    gap: 10px;
    border-radius: 40px;
}

.message-content-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.message-header-userName {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
}

.message-header-timestamp {
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
}

.massage-content-bubble {
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    background: #ECEEFE;
}

.massage-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}

.answer-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.answer-count {
    color: #535AF1;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}

.last-answer {
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
}

.own-message {
    display: flex;
    gap: 30px;
    padding: 25px 45px 25px 45px;
    flex-direction: row-reverse;
}

.own-message-header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    flex-direction: row-reverse;
}

.own-massage-content-bubble {
    padding: 15px;
    border-radius: 30px 0px 30px 30px;
    background: #797EF3;
    color: white;
}

.own-answer-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

// .input-div {
//     padding: 25px 45px 25px 45px;
// }

// .input {
//     width: calc(100% - 45px);
//     height: 145px;
//     padding: 20px;
//     border-radius: 20px;
//     border: 1px solid #ADB0D9
// }


.message-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 145px;

    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;

}

.message-input {
    border: none;
    resize: none;
    height: 100%;
}

.message-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
}

.action-left {
    display: flex;
    gap: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    color: #007BFF;
}

.action-right {
    display: flex;
    align-items: center;
}

.line{
    border: 1px solid #ADB0D9
}


// Scrollbar


::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    /* Hintergrund der Scrollbar */
}

:hover::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    /* Leicht sichtbarer Hintergrund beim Hover */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(105, 105, 105, 0.6);
    /* Dunkelgraue Scrollbar mit Transparenz */
    border-radius: 10px;
    /* Abgerundete Enden */
    border: 3px solid transparent;
    /* Abstand zum Rand */
    background-clip: padding-box;
    /* Vermeidung von Überlappung */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(105, 105, 105, 1);
    /* Vollständig sichtbar beim Hover */
}