<div class="main-chat">
    <div class="main-chat-header">
        @for (user of allUsers; track $index) {
        @if (user.userId == specificConversation[0].recipientId) {
        <div class="channelname">
            <div class="main-chat-header-avatar-div">

                <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
                @if(user.status == 'online'){
                <div class="online-indicator"></div>
                }@else{
                <div class="offline-indicator"></div>
                }
            </div>
            <span>{{user.name}}</span>
        </div>

        }
        }


    </div>

    <div #chatArea class="chat-area">
        <div class="time-separator">
            <div class="date">
                <span>{{formatDate(formatTimestamp(list[0].createdAt))}}</span>
            </div>
            <div class="line"></div>
        </div>

        @for (message of list; track $index) {
        @if ($index > 0) {
        @if (formatDate(formatTimestamp(list[$index].createdAt)) !=
        formatDate(formatTimestamp(list[$index-1].createdAt))) {
        <div class="time-separator">
            <div class="date">
                <span>{{formatDate(formatTimestamp(list[$index].createdAt))}}</span>
            </div>
            <div class="line"></div>
        </div>
        }
        }
        @if (message.createdBy == userId) {
        @for (user of allUsers; track $index) {
        @if (message.createdBy == user.userId) {




        <div class="own-message">
            <div class="own-reactionbar">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_edit.png" alt="">
            </div>

            <div>
                <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="own-message-header">
                    <span class="message-header-userName">{{user.name}}</span>
                    <span class="message-header-timestamp">{{formatTime(formatTimestamp(message.createdAt))}}</span>
                </div>

                <div class="own-massage-content-bubble">
                    <span class="massage-content">{{message.content}}</span>
                </div>

                <div class="own-answer-bar">
                    <span class="answer-count">2 Antworten</span>
                    <span class="last-answer">Letzte Antwort 14:56</span>

                </div>
            </div>
        </div>
        }
        }
        }
        @else {
        @for (user of allUsers; track $index) {
        @if (message.createdBy == user.userId) {
        <div class="message">
            <div class="reactionbar">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
            </div>
            <div>
                <div class="avatar-div">
                    <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
                    @if(user.status == 'online'){
                    <div class="online-indicator"></div>
                    }@else{
                    <div class="offline-indicator"></div>
                    }
                </div>

            </div>
            <div class="message-content-div">
                <div class="message-header">
                    <span class="message-header-userName">{{user.name}}</span>
                    <span class="message-header-timestamp">{{formatTime(formatTimestamp(message.createdAt))}}</span>
                </div>

                <div class="massage-content-bubble">
                    <span class="massage-content">{{message.content}}</span>
                </div>

                <div class="answer-bar">
                    <span class="answer-count">2 Antworten</span>
                    <span class="last-answer">Letzte Antwort 14:56</span>

                </div>
            </div>
        </div>
        }}
        }
        }

        <!-- Empty div function as anchor to scroll down to  -->
        <div #lastDiv></div>

    </div>



    <div class="message-container">
        <!-- Emojis -->
        @if (showEmoticons) {
        <div class="emoticon-div">
            <emoji-mart class="emoji-mart" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
        </div>
        }
        <!-- Erwähnungen -->
        @if (showMention) {
        <div class="mention-div">
            @for (users of allUsers; track $index) {
            <div class="mention-list-element" (click)="addMention(users.name)">{{users.name}}</div>
            }
        </div>
        }

        <!-- Dropdown für Kanäle und Mitglieder -->
        @if (showDropdown) {
        <div class="dropdown-menu">
            @if (filteredItems.length === 0) {
            <span>Kein passendes Ergebnis</span>
            }@else {
            @for (item of filteredItems; track $index) {
            <div class="dropdown-item" (click)="selectItem(item)">
                {{ item.name }}
            </div>
            }
            }
        </div>
        }



        <textarea (input)="onInput($event)" #myTextarea [(ngModel)]="content" class="message-input"
            placeholder="Nachricht an #Entwicklerteam"></textarea>
        <div class="message-actions">

            <div class="action-left">
                <button class="action-button"> <img src="../../assets/img/add_icon.png" alt=""></button>
                <div class="line"></div>
                <button (click)="toggleEmoticons()" class="action-button"><img src="../../assets/img/emoticon_icon.png"
                        alt=""></button>
                <button (click)="toggleMention()" class="action-button"><img src="../../assets/img/mention_icon.png"
                        alt=""></button>
            </div>

            <div class="action-right">
                <button (click)="saveNewMessage()" class="action-button"> <img src="../../assets/img/send_icon.png"
                        alt=""></button>
            </div>
        </div>
    </div>
</div>