<div class="main-chat">
    <div class="main-chat-header">
        <div class="channelname">
            <div class="main-chat-header-avatar-div">
                <img class="avatar" src="../../assets/img/defaultAvatars/defaultMale1.png" alt="User Avatar">
                @if(online){
                <div class="online-indicator"></div>
                }@else{
                <div class="offline-indicator"></div>
                }
            </div>
            <span>Noah Braun</span>
        </div>

    </div>

    <div class="chat-area">
        <div class="time-separator">
            <div class="date">
                <span>Dienstag, 14 Januar</span>
                <!-- <span>{{list[0].createdAt}}</span> -->
            </div>
            <div class="line"></div>
        </div>

        @for (message of list; track $index) {
        @if (message.createdBy == userId) {
        @for (user of allUsers; track $index) {
        @if (message.createdBy == user.userId) {


        <div class="own-message">
            <div class="own-reactionbar">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_edit.png" alt="">
            </div>

            <div>
                <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="own-message-header">
                    <span class="message-header-userName">{{user.name}}</span>
                    <span class="message-header-timestamp">{{formatTime(message.createdAt)}}</span>
                </div>

                <div class="own-massage-content-bubble">
                    <span class="massage-content">{{message.content}}</span>
                </div>

                <div class="own-answer-bar">
                    <span class="answer-count">2 Antworten</span>
                    <span class="last-answer">Letzte Antwort 14:56</span>

                </div>
            </div>
        </div>
        }
        }
        }
        @else {
        @for (user of allUsers; track $index) {
        @if (message.createdBy == user.userId) {
        <div class="message">
            <div class="reactionbar">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
                <img src="../../assets/img/reactionbar_add_reaction.png" alt="">
                <img src="../../assets/img/reactionbar_answer.png" alt="">
            </div>
            <div>
                <div class="avatar-div">
                    <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
                    @if(user.status == 'online'){
                    <div class="online-indicator"></div>
                    }@else{
                    <div class="offline-indicator"></div>
                    }
                </div>

            </div>
            <div class="message-content-div">
                <div class="message-header">
                    <span class="message-header-userName">{{user.name}}</span>
                    <span class="message-header-timestamp">{{formatTime(message.createdAt)}}</span>
                </div>

                <div class="massage-content-bubble">
                    <span class="massage-content">{{message.content}}</span>
                </div>

                <div class="answer-bar">
                    <span class="answer-count">2 Antworten</span>
                    <span class="last-answer">Letzte Antwort 14:56</span>

                </div>
            </div>
        </div>
        }}
        }
        }




    </div>

    <!-- <div class="input-div">
        <textarea class="input" name="" id=""></textarea>
    </div> -->

    <div class="message-container">
        @if (showEmoticons) {
        <div class="emoticon-div">
            @for (emoji of emoticons; track $index) {
            <img src="../../assets/img/emoticons/{{emoji}}" alt="">
            }
        </div>
        }
        <!-- Erwähnungen -->
        @if (showMention) {
        <div class="mention-div">
            @for (users of allUsers; track $index) {
            <div>{{users.name}}</div>
            }
        </div>
        }

        <textarea class="message-input" placeholder="Nachricht an #Entwicklerteam"></textarea>
        <div class="message-actions">

            <div class="action-left">
                <button class="action-button"> <img src="../../assets/img/add_icon.png" alt=""></button>
                <div class="line"></div>
                <button (click)="toggleEmoticons()" class="action-button"><img src="../../assets/img/emoticon_icon.png"
                        alt=""></button>
                <button (click)="toggleMention()" class="action-button"><img src="../../assets/img/mention_icon.png"
                        alt=""></button>
            </div>

            <div class="action-right">
                <button class="action-button"> <img src="../../assets/img/send_icon.png" alt=""></button>
            </div>
        </div>
    </div>
</div>