<nav>
    <div class="logoContainer">
        <img src="../../assets/img/Logo.png" alt="logo">
        <!-- <span>DABubble</span> -->
    </div>
    <div class="signUpLink">
        <span>Neu bei DABubble?</span>
        <a [routerLink]="['/signUp']">Konto erstellen</a>
    </div>
</nav>
<div class="mainContainer">
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="card" data-aos="fade-right">
        <h1>Anmeldung</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        <div class="loginCt">
            <input
            type="email"
            formControlName="mail"
            (focus)="img.src = 'assets/img/mail-focus.png'"
            (blur)="img.src = 'assets/img/mail-Icon.png'"
            [class.redBorder]="this.us.wrongLogin"
            placeholder="beispielname&#64;email.com" required>
            <img #img src="assets/img/mail-Icon.png" alt="">
            <p
            *ngIf="myForm.get('mail')?.invalid && myForm.get('mail')?.touched"
            class="errorStyle">
                *Diese E-Mail-Adresse is leider ungültig.
            </p>
        </div>
        <div class="loginCt">
            <input
            type="string"
            formControlName="pw"
            (focus)="lockImg.src = 'assets/img/lock-focus.png'"
            (blur)="lockImg.src = 'assets/img/lock-icon.png'"
            [class.redBorder]="this.us.wrongLogin"
            placeholder="Passwort" required>
            <img #lockImg src="assets/img/lock-icon.png" alt="">
            <p
            *ngIf="myForm.get('pw')?.invalid && myForm.get('pw')?.touched && !this.us.wrongLogin"
            class="errorStyle">
                Falsches Passwort. Bitte noch einmal versuchen.
            </p>
        </div>
        <p
        *ngIf="this.us.wrongLogin"
        class="errorStyle2">
            Falsche E-Mail-Adresse oder Passwort. Bitte versuchen Sie es erneut.
        </p>
        <a [routerLink]="['/forgotPassword']">Passwort vergessen?</a>
        <div class="separaterCt">
            <div></div>
            <span>ODER</span>
        </div>
        <button (click)="googleAuthentification()" (mousedown)="onMouseDown()" (mouseup)="onMouseUp()"
            [class.pressed]="isPressed"
            class="googleBtn"
            type="button">
            <img src="assets/img/Google.png" alt="googleIcon">
            <span>
                Anmelden mit Google
            </span>
        </button>
        <div class="btnCt">
            <button
            type="submit">
                Anmelden
            </button>
            <button (click)="guestLogin()" type="button">Gäste-Login</button>
        </div>
    </form>
    <div class="footerCt">
        <span [routerLink]="['/imprint']">Impressum</span>
        <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
    </div>
</div>