<nav>
    <div class="logoContainer">
        <img src="../../assets/img/Logo.png" alt="logo">
        <!-- <span>DABubble</span> -->
    </div>
    <div class="signUpLink">
        <span>Neu bei DABubble?</span>
        <a href="#">Konto erstellen</a>
    </div>
</nav>
<div class="mainContainer">
    <div class="card">
        <h1>Anmeldung</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        <input type="string">
        <input type="string">
    </div>
</div>