<nav>
    <div class="logoContainer">
        <img src="../../assets/img/Logo.png" alt="logo">
    </div>
</nav>
<div class="mainContainer">
    <form class="card">
        <div class="formHeadline"> 
            <img [routerLink]="['/signUp']" src="../../assets/img/arrow_back.png" alt="arrow_back">
            <h1>Wähle deinen Avatar</h1>
        </div>
    </form>

    <div class="footerCt">
        <span [routerLink]="['/imprint']">Impressum</span>
        <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
    </div>
</div>