section {

       //width: 910px;
   // height: 374px;
     padding: 40px;
     border-radius: 30px;
     opacity: 0px;
     background: #FFFFFF;
     display: flex;
     flex-direction: column;
     gap: 20px;
}





.headline {
    width: 830px;
    height: 40px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;
    .closeSvgBg{
        width: 40px;
        height: 40px;
        padding: 8px;
        opacity: 0px;
        svg:hover {
            path {
                fill: #535AF1;
            }
            background-color:#ECEEFE;
            border-radius: 20px;
            cursor: pointer;
        }
    }

>span{
        display: flex;
        width: 400px;
        height: 33px;
        gap: 0px;
        opacity: 0px;
        font-family: Nunito;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
        text-align: left;
    }
}

.d-none {
    display: none !important;
}


.radioButtonGroup{
    display: flex;
    width: 630px;
    height: 70px;
    gap: 20px;
    opacity: 0px;

    .radioButtons{
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 65px;
        gap: 25px;
        opacity: 0px;
        >input {
            width: 20px;
            height: 20px;
            gap: 0px;
            opacity: 0px;
            cursor: pointer;
        }

        input:hover{
            border: 1px solid #535AF1;
        }
    }

    .labels {
        display: flex;
        flex-direction: column;
        width: 566px;
        height: 70px;
        gap: 20px;
        opacity: 0px;
        >span {
            display: flex;
            width: 566px;
            height: 25px;
            gap: 0px;
            opacity: 0px;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
            text-align: left;
            >p {
                color: #535AF1;
            }
        }
    }
}

.userlistContainer{
    width: 215px;
    height: 211px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 234px;
    left: 70px;

    padding: 40px;
    gap: 20px;
    border-radius: 0px 30px 30px 30px;
    opacity: 0px;
    border: 1px solid #535AF1;
    overflow: auto;
    background-color: #FFFFFF;
    
    

    .userList {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        padding: 0px 15px 0px 15px;
       
        >img{
            width: 50px;
            height: 50px;
            gap: 0px;
            border-radius: 30px;
            opacity: 0px;
        }
       
        >svg{
            display: flex;
            position: relative;
            right: 15px;
            top: 18px;
        }

        span {
            display: flex;
            position: relative;
            width: fit-content;
            height: 25px;
            gap: 0px;
            opacity: 0px;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
            text-align: left;
           
        }
    }

    .userList:hover {
        background-color: #ECEEFE;
        border-radius: 20px;
    }

}

.userlistContainer::-webkit-scrollbar {
    display: none;
}

.userInput {
    display: flex;
    flex-direction: column;
    width: 792px;
    gap: 20px;
    height: 65px;
    opacity: 0px; 
    >input {
        display: flex;
        width: 792px;
        height: 65px;
        padding: 20px;
        gap: 30px;
        border-radius: 30px;
        border: 1px;
        opacity: 0px;
        border: 1px solid #ADB0D9;
        cursor: pointer;

        ::placeholder {
            display: flex;
            width: 752px;
            height: 25px;
            gap: 20px;
            opacity: 0px;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.55px;
            text-align: left;
            color: #686868;
        }
    }

    input:focus{
        outline: none !important;
    }
    
    input:hover{
        border: 1px solid #535AF1;
    }
}


.btnContainer{
    display: flex;
    justify-content: flex-end;
    width: 830px;
    margin-top: 10px;
    
    button {
        cursor: pointer;
        display: flex;
        width: 125px;
        height: 49px;
        padding: 12px 25px 12px 25px;
        gap: 10px;
        border-radius: 25px;
        opacity: 0px;
        background: #444DF2;
        border: none;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
        text-align: left;
        color: #FFFFFF;
    }

    button:hover {
        background-color: #797EF3;
    }
}