
<div class="main-thread">
    <div class="main-thread-header">
        <div>
            <span class="header">Thread</span>
            <span class="channel"> # Entwicklerteam</span>
        </div>
        <img (click)="closeThread()" src="../../assets/img/close.png" alt="">
    </div>




    <div class="chat-area">
        <div class="message">
            <div>
                <img class="avatar" src="../../assets/img/defaultAvatars/defaultMale1.png" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="message-header">
                    <span class="message-header-userName">Noah Braun</span>
                    <span class="message-header-timestamp">14:25 Uhr</span>
                </div>

                <div class="massage-content-bubble">
                    <span class="massage-content">Welche Version ist aktuell von Angular?</span>
                </div>


            </div>
        </div>

        <div class="thread-message-separator">
            <span> 2 Antworten</span>
            <div class="thread-message-separator-line"></div>
        </div>

        <div class="own-message">
            <div>
                <img class="avatar" src="../../assets/img/defaultAvatars/defaultMale3.png" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="own-message-header">
                    <span class="message-header-userName">Frederik Beck</span>
                    <span class="message-header-timestamp">14:25 Uhr</span>
                </div>

                <div class="own-massage-content-bubble">
                    <span class="massage-content">Es ist Angular 18. Das kam erst vor kurzem raus</span>
                </div>

            </div>
        </div>
    </div>

    <div class="message-container">
        <textarea class="message-input" placeholder="Antworten..."></textarea>
        <div class="message-actions">

            <div class="action-left">
                <button class="action-button"> <img src="../../assets/img/add_icon.png" alt=""></button>
                <div class="line"></div>
                <button class="action-button"><img src="../../assets/img/emoticon_icon.png" alt=""></button>
                <button class="action-button"><img src="../../assets/img/mention_icon.png" alt=""></button>
            </div>

            <div class="action-right">
                <button class="action-button"> <img src="../../assets/img/send_icon.png" alt=""></button>
            </div>
        </div>
    </div>

    

</div>
