<div class="main-thread">
    <div class="main-thread-header">
        <div>
            <span class="header">Thread</span>
            <span class="channel"> {{currentThread.threadNameRecipient}}</span>
        </div>
        <img (click)="closeThread()" src="../../assets/img/close.png" alt="">
    </div>




    <div class="chat-area">


        @if (list.length>0) {
        <div class="time-separator">
            <div class="date">
                <span>{{time.formatDate(time.formatTimestamp(list[0].createdAt))}}</span>
            </div>
            <div class="line"></div>
        </div>
        }

        @if (mainMessage.createdBy == user.userId) {
        <div class="own-message">
            <div>
                <img class="avatar" src="{{user.avatarUrl}}" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="own-message-header">
                    <span class="message-header-userName">{{user.name}}</span>
                    <span
                        class="message-header-timestamp">{{time.formatTime(time.formatTimestamp(mainMessage.createdAt))}}</span>
                </div>

                <div class="own-massage-content-bubble">
                    <span class="massage-content">{{mainMessage.content}}</span>
                </div>

                @if (mainMessage.fileUrl) {
                <div class="own-file-div">
                    @if (fileUpload.isImage(mainMessage.fileUrl)) {
                    <a href="{{mainMessage.fileUrl}}" target="_blank">
                        <img src="{{mainMessage.fileUrl}}" alt="">
                    </a>
                    } @else {
                    <a href="{{mainMessage.fileUrl}}" target="_blank">
                        <img src="../../assets/img/PDF_icon.svg.png" alt="">
                        <p>PDF öffnen</p>
                    </a>
                    }
                </div>
                }
            </div>
        </div>

        }
        @else {
            @if (mainMessage.createdBy == passiveUser.userId) {
                <div class="message">
                    <div>
                        <div class="avatar-div">
                            <img class="avatar" src="{{passiveUser.avatarUrl}}" alt="User Avatar">
                            @if(passiveUser.status == 'online'){
                            <div class="online-indicator"></div>
                            }@else{
                            <div class="offline-indicator"></div>
                            }
                        </div>
    
                    </div>
                    <div class="message-content-div">
                        <div class="message-header">
                            <span class="message-header-userName">{{passiveUser.name}}</span>
                            <span
                                class="message-header-timestamp">{{time.formatTime(time.formatTimestamp(mainMessage.createdAt))}}</span>
                        </div>
    
                        <div class="massage-content-bubble">
                            <span class="massage-content">{{mainMessage.content}}</span>
                        </div>
                    </div>
                </div>
                }
        }

        @if (list.length > 0) {
            <div class="thread-message-separator">
                <span>  {{list.length}} Antworten</span>
                <div class="thread-message-separator-line"></div>
            </div>
        }
        


        <div class="message">
            <div>
                <img class="avatar" src="../../assets/img/defaultAvatars/defaultMale1.png" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="message-header">
                    <span class="message-header-userName">Noah Braun</span>
                    <span class="message-header-timestamp">14:25 Uhr</span>
                </div>

                <div class="massage-content-bubble">
                    <span class="massage-content">Welche Version ist aktuell von Angular?</span>
                </div>


            </div>
        </div>

        

        <div class="own-message">
            <div>
                <img class="avatar" src="../../assets/img/defaultAvatars/defaultMale3.png" alt="User Avatar">
            </div>
            <div class="message-content-div">
                <div class="own-message-header">
                    <span class="message-header-userName">Frederik Beck</span>
                    <span class="message-header-timestamp">14:25 Uhr</span>
                </div>

                <div class="own-massage-content-bubble">
                    <span class="massage-content">Es ist Angular 18. Das kam erst vor kurzem raus</span>
                </div>

            </div>
        </div>
    </div>

    <div class="message-container">
        <textarea class="message-input" placeholder="Antworten..."></textarea>
        <div class="message-actions">

            <div class="action-left">
                <button class="action-button"> <img src="../../assets/img/add_icon.png" alt=""></button>
                <div class="line"></div>
                <button class="action-button"><img src="../../assets/img/emoticon_icon.png" alt=""></button>
                <button class="action-button"><img src="../../assets/img/mention_icon.png" alt=""></button>
            </div>

            <div class="action-right">
                <button class="action-button"> <img src="../../assets/img/send_icon.png" alt=""></button>
            </div>
        </div>
    </div>



</div>